<a href="https://colab.research.google.com/github/reshminambiar/DW15_Task8/blob/main/Task_8_Translation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
pip install itranslate

In [3]:
df = pd.read_csv('English.csv')
df.head()

  English words/sentences
0                     Hi.
1                    Run!
2                    Run!
3                    Who?
4                    Wow!

In [4]:
df.shape

(175621, 1)

In [5]:
df.info() #No null values present

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175621 entries, 0 to 175620
Data columns (total 1 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   English words/sentences  175621 non-null  object
dtypes: object(1)
memory usage: 1.3+ MB

In [6]:
df.duplicated().sum()

52521

In [4]:
df.drop_duplicates(keep='first',inplace = True) #we drop the duplicates

In [8]:
df.shape

(123100, 1)

In [5]:
from itranslate import itranslate as itrans
 #We use this library for translation.It is built up on top of google translate library.
#The original google_translate_new doesn't work now for some reason

In [ ]:
itrans('Run!', to_lang="de") # Example for English to German translation

'Laufen!'

In [10]:
itrans('Run!', to_lang="es") # Example for English to Spanish translation

'¡Correr!'

In [11]:
itrans('Run!', to_lang="fr") # Example for English to French translation

'Courir!'

I have tried translating the entire dataset, but due to 1.2 lakh+ rows, the operation gets time-out. We may need to use some batching or other way to get it done.So, here I have taken portions of the dataframe and shown the translation functionality.

In [6]:
df1 = df[:1000]

In [13]:
df1.shape

(1000, 1)

In [ ]:
df1['German'] = df1['English words/sentences'].apply(lambda x:itrans(x,to_lang='de'))

In [15]:
df1 # Dataframe showing English  and corresponding German translations

     English words/sentences                 German
0                        Hi.                    Hi.
1                       Run!                Laufen!
3                       Who?                   Wer?
4                       Wow!                   Wow!
5                      Fire!                 Feuer!
...                      ...                    ...
1766             We'll obey.  Wir werden gehorchen.
1767             We'll pass.   Wir werden bestehen.
1768             We'll swim.  Wir werden schwimmen.
1769             We'll wait.            Gut, warte.
1770             We'll walk.      Wir werden gehen.

[1000 rows x 2 columns]

In [19]:
df2 = df[1000:2000]

In [ ]:
df2['French'] = df2['English words/sentences'].apply(lambda x:itrans(x,to_lang='fr'))

In [22]:
df2.head() # Dataframe showing English  and corresponding French translations

     English words/sentences                    French
1771             We'll work.       Nous travaillerons.
1772             We're back.    Nous sommes de retour.
1773             We're boys.  Nous sommes des garçons.
1774             We're busy.          Étaient occupés.
1776             We're calm.       Nous sommes calmes.

In [12]:
df3 = df[3000:3500]

In [ ]:
df3['Spanish'] = df3['English words/sentences'].apply(lambda x:itrans(x,to_lang='es'))

In [14]:
df3 # Dataframe showing English  and corresponding Spanish translations

     English words/sentences             Spanish
5290          I can buy one.  Puedo comprar uno.
5294          I can do this.   Puedo hacer esto.
5295          I can explain.   Puedo explicarlo.
5296          I can feel it.     Puedo sentirlo.
5299          I can survive.   Puedo sobrevivir.
...                      ...                 ...
6047          It was a test.     Fue una prueba.
6049          It was boring.       Fue aburrido.
6050          It was broken.        Estaba roto.
6052          It was locked.   Estaba bloqueado.
6053          It was simple.         Era simple.

[500 rows x 2 columns]